a:link{
    color: green;
    text-decoration: none;
    background-color: transparent;
}
a:visited{
    color: purple;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: red;
    text-decoration: underline;
    background-color: transparent;
}
a:active{
    color: yellow;
    text-decoration: none;
    background-color: transparent;
}